{% extends "admin/templates/admin_template.html" %}

{% block title %} Admin {% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col-4">
            <h3>Guns Dashboard</h3>
        </div>
        <div class="col-4">
            <h3><a href="/admin/dashboard/guns/add">Add new gun</a></h3>
        </div>
        <div class="col-4">
            <h3><a href="/admin/dashboard/guns/update">Update guns</a></h3>
        </div>
    </div>
</div>
{% for gun_item in all_guns %}
    <form action="" method="post">
        <div class="mt-5">
            <div class="row">
                {% for gun_field in range(gun_item|length) %}
                <div class="col">
                    {% if gun_field == 3 %}
                    <span class="d-inline-block text-truncate" style="max-width: 150px;">
                        {{ gun_item[gun_field] }}
                    </span>
                    {% else %}
                        {{ gun_item[gun_field] }}
                    {% endif %}
                </div>
                {% endfor %}
                <div class="col">
                    <button type="submit" name="delete" value="{{ gun_item[0] }}" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
        
    </form>

{% endfor %}
{% endblock %}