{% extends "admin/templates/admin_template.html" %}

{% block title %} Admin {% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col-4">
            <h3>Station Dashboard</h3>
        </div>
        <div class="col-4">
            <h3><a href="/admin/dashboard/station/add">Add new station</a></h3>
        </div>
        <div class="col-4">
            <h3><a href="/admin/dashboard/station/update">Update station</a></h3>
        </div>
    </div>
</div>

{% for station_item in all_stations %}
    <form action="" method="post">
        <div class="mt-5">
            <div class="row">
                {% for station_field in range(station_item|length) %}
                <div class="col">
                    {% if station_field == 5 %}
                    <span class="d-inline-block text-truncate" style="max-width: 150px;">
                        {{ station_item[station_field] }}
                    </span>
                    {% else %}
                        {{ station_item[station_field] }}
                    {% endif %}
                </div>
                {% endfor %}
                <div class="col">
                    <button type="submit" name="delete" value="{{ station_item[0] }}" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
        
    </form>

{% endfor %}
{% endblock %}