{% extends "public/templates/public_template.html" %}

{% block title %} Guns {% endblock %}

{% block main %}

{% for gun_item in all_guns %}
<div class="container">
    <div class="row">
        <div class="col-7">
            <div class="mt-5">
                <div class="gun-description" style="border-radius: 5px;">
                    {{ gun_item[3] }}

                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="mt-5">
                <div class="card" style="background-color:rgba(209, 206, 206, 0.5)">
                    <img class="card-img-top" src={{ gun_item[4] }} alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"> {{ gun_item[1] }}</h5>
                        <p class="card-text">
                        <ul>
                            <li>Магазин: {{ gun_item[2] }} патронов</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}